*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

::selection{
    background-color: var(--c1);
    color: var(--w);
}

:root{
    --c1:#ed664e;
    --w:#fff;
    --b:#000;
}
a{
    text-decoration: none;
    cursor: pointer;
}
ul{
    list-style: none;
}

/* Utility Classes Start */
.container{
    max-width: 1100px;
    margin: auto;
    padding:0 2.5% ;
    /* background-color: rebeccapurple; */
}

.btn{
    background-color: var(--c1);
    padding: 8px 20px;
    outline: none;
    border: none;
    color: var(--w);
    text-transform: uppercase; 
    letter-spacing: 2px;
    transition: 0.5s;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.7;
    letter-spacing: 0px;
}
/* Utility Classes End */

/* Landing Style Start................ */

.landing{
    width: 100%;
    height:90vh ;
    background-color: rgba(49, 48, 46, 0.8);
    position: relative;
    top: 0px;
    left: 0px;
  /* Backgroun imagekan waxaa la adeegsanaayaa marka lawaaro video-ga  */
    /* background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)) , url(./images/education.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}


/* HEADER.......................... */
.header{
    background-color: #fff;
    width: 100%;
    height: 70px;
    padding: 1% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
    z-index: 3;
 
}

.header h1{
    color: var(--b);
    font-size: 2rem;
    font-family: forte;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: lighter;
    cursor: pointer;
}
.header h1 span{
    color: var(--c1);
     font-family: forte;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.nav ul li{
      margin: 0.8rem;
      
}
.nav ul li a{
      color: var(--b);
      text-transform: uppercase;
      transition: 0.5s;
}

.nav ul li a:hover{
    color: var(--c1);
}

 a:visited{
    color: var(--c1);
}


.landing-info{
    width: 100%;
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: var(--w);
    z-index: 1;
    
}
.landing-info h2{
    font-size: 2.5rem;
    font-weight: 300;
}
.landing-info h3{
    font-size: 3rem;
    color: var(--c1);
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 1rem;

}

.btn{
    background-color: var(--c1);
    padding: 8px 20px;
    outline: none;
    border: none;
    color: var(--w);
    text-transform: uppercase; 
    letter-spacing: 2px;
    transition: 0.5s;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.7;
    letter-spacing: 0px;
}


/* ...............................Background Video */
/* ...............................Background Video */
.bg-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index:-1;
    /* opacity: 0.5; */
}

@media(min-aspect-ratio:16/9){
    .bg-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    .bg-video{
        width: auto;
        height: 100%;
    }
}
/* Landing Style End................ */